# ----------------------------------------------------------------------
# | General                                                            |
# ----------------------------------------------------------------------

dist

# ----------------------------------------------------------------------
# | Programming language                                               |
# ----------------------------------------------------------------------

# npm
node_modules
.npm

# doc

doc/html


# python
__pycache__
*.pyc
# python vent
env


# ----------------------------------------------------------------------
# | macOS                                                              |
# ----------------------------------------------------------------------

._*
.DS_Store
.Spotlight-V100
